:root{
    --Titulo-FontSize: 4rem;
    --Texto-FonSize: 2rem;
    --Primer-Orden: 1;
    --Segundo-Orden: 2; 
}

.Container{
    font-family: sans-serif; 
    display: flex;
    min-height: 100vh;
    align-items: center; 
    flex-direction: column; 
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(163,247,181,1) 0%, rgba(64,201,162,1) 100%);
}

header{
    display: flex; 
    justify-content: center;
    width: 40%;
    padding: 10%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContainerSkew{
    width: 100%; 
    /*Skew*/
    padding: 8% 0px;
    transform: skew(0deg,-3deg);
    background-color: #fefcfd;
    margin: 1rem;
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Tarjeta{
    transform: skew(0deg, 3deg);
    display: flex;
    height: 50vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 20rem;
}

.Ejemplo{
    flex: 1;
    box-shadow:  1px 2px 40px rgba(0, 0, 0, 0.25);

}



.Informacion{
    flex: 2;
    background-color: #fefcfd;
    box-shadow:  1px 2px 40px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Ejemplo.Order{
    order: var(--Segundo-Orden);
}
.Informacion.Order{
    order: var(--Primer-Orden);
}

h1{
    font-size: var(--Titulo-FontSize);
    margin: 0;
    padding: 0;
}

p{
    font-size: var(--Texto-FonSize);
}

a{
    text-decoration: none;
    color: #2f9c95;
}

button{
    
    all: unset;
    border-radius: 10px; 
    font-size: var(--Texto-FonSize); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #2f9c95;
    color: #fefcfd;
    padding: 1rem;
    width: 8rem;
}
button:hover
{
    background-color: #40c9a2;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1%;
    font-size: calc(1vw + 1vh );
}

/*Movil*/
@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
    :root{
        --Titulo-FontSize: 2rem;
        --Texto-FonSize: 1rem;
        --Primer-Orde: 2;
        --Segundo-Orden: 1;
    }
        
    .Tarjeta{
        flex-direction: column;
        margin-bottom: 12rem;
        max-width: 300px;
    }


}

/*iPad*/
@media (min-width:768px) and (max-width:1024px) {
    :root{
        --Titulo-FontSize: 3rem;
        --Texto-FonSize: 2.5rem;
        --Primer-Orde: 2;
        --Segundo-Orden: 1;
    }
        
    .Tarjeta{
        flex-direction: column;
        margin-bottom: 30rem;
    }

}